/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

html {
  font-size: 62.5%;
}

body {
  background: #66768A;
  font-family: 'Helvetica Neue', sans-serif;

}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

nav img {
  max-height: 70%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;

}

ul {
  padding-left: 0;
}

nav li,
li {
  list-style: none;
  margin: 0 10px;
}

nav li a,
a {
  text-decoration: none;
  color: #FAFBFB;
}

nav img+a {
  text-decoration: none;
  border: #FAFBFB 1px solid;
  background: #FAFBFB;
  color: #66768A;
  padding: 8px;
  border-radius: 5px;
}

main,
section {
  text-align: center;
}

main {
  color: #F1F1F1;


}

main h1 {
  font-size: 6rem;
}

a,
p {
  font-size: 1.5rem;
}


main p {
  width: 50%;
  margin: 35px auto;
}

main i {
  font-size: 3rem;
}

main ul li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

}

main ul li:first-child * {
  margin: 0 5px;
}

main ul li+li {
  margin: 50px 0;
  font-style: italic;

}

main ul li+li a {
  color: #434756;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/