/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

html {
  font-size: 62.5%;
}

body {
  background: #66768A;
  font-family: 'Helvetica Neue', sans-serif;

}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

nav img {
  max-height: 70%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;

}

ul {
  padding-left: 0;
}

nav li,
li {
  list-style: none;
  margin: 0 10px;
}

nav li a,
a {
  text-decoration: none;
  color: #FAFBFB;
}

nav img+a {
  text-decoration: none;
  border: #FAFBFB 1px solid;
  background: #FAFBFB;
  color: #66768A;
  padding: 8px;
  border-radius: 5px;
}

main,
section {
  text-align: center;
}

main {
  color: #F1F1F1;


}

main h1 {
  font-size: 6rem;
  margin: 2.67em 0 1.7em 0;
}

a,
p {
  font-size: 1.5rem;
}


main p {
  width: 50%;
  margin: 35px auto;
}

main i {
  font-size: 3rem;
}

main ul li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

}

main ul li:first-child * {
  margin: 0 5px;
}

main ul li+li {
  margin: 50px 0;
  font-style: italic;

}

main ul li+li a {
  color: #434756;
}

.why {

  background: #F1F1F1;

}

.why * {
  color: #161F2A;
}

.why p {
  width: 50%;
  margin: auto;
  padding-bottom: 100px;
}

.why h2,
.volunteerWithUs h2 {
  padding-top: 100px;
  font-size: 4rem;
}

.visitAndHaveUs {
  display: flex;
  background: #DBDFE2;

}

.visitAndHaveUs>* {
  margin: 100px 0;
}


.visitAndHaveUs div {
  width: 350px;
  height: 150px;
  margin: auto;
  background: #66768A;
}

.visitAndHaveUs p,
.volunteerWithUs p {
  width: 50%;
  margin: 0 auto 50px auto;

}

.visitAndHaveUs a,
.volunteerWithUs a {
  margin-top: 20px;
  border: #434756 1px solid;
  color: #434756;
  padding: 10px 30px;
}

.visitAndHaveUs h3 {
  font-size: 2.5em;
}

.volunteerWithUs {
  background: #FAFBFB;
  padding: 50px 0 150px 0;
}

footer {
  background: #161F2A;
  padding: 30px 0 10px 0;
  display: flex;
  /* width: 500px; */
  justify-content: space-between;
}


footer section>* {
  text-align: left;
  margin: 0 50px;


}

.levelGroundMMA>* {
  display: flex;
  flex-direction: column;
  color: #FAFBFB;
  margin: 0 0 10px 0;
  /* margin-bottom: 10px; */

}

.llg,
.llg a {
  font-weight: bold;
  font-size: 1rem;
}

.address {
  font-weight: 400;
}

footer ul {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
}

footer a,
footer h6 {
  font-size: 1.25rem;
}

footer li:first-child {
  margin-left: 0;
}

footer i {
  font-size: 2rem;
  color: #FAFBFB;
}

footer h6 {
  color: #434756;
  margin-top: 10px;
  margin-bottom: 5px;
}

.endFooter {
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: #FAFBFB;
  margin: 0 50px;
  padding-top: 10px;
  align-items: center;
  background: #161F2A;
  border-top: 1px solid #FAFBFB;
}

footer+section {
  background: #161F2A;
}

.endFooter img {
  height: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/